@import '~normalize.css';
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  background-image: linear-gradient(to bottom right, hsl(296 83% 25%), hsl(200, 100%, 37%));
  // background-image: linear-gradient(to bottom right, hsl(var(--p)), hsl(var(--s)));
}

body {
  height: 1px;
  min-height: 100%;
  overflow: hidden;
}