<div class="flex justify-center">
  <div class="card rounded bg-primary p-4 glass w-[44rem] flex flex-column gap-4" *ngIf="true">
    <zg-notification>Wähle einen Text</zg-notification>
      
    <div class="bg-base-100 rounded p-2 cursor-pointer hover:bg-base-300">
      djansjdna dkasmdkamskd dkasmdkasm dkmaskdma dkamdksamdk dkamskdmaskdma dkmaskdmaskdmsa dsdskmdaskmd
    </div>
    
    <div class="bg-base-100 rounded p-2 cursor-pointer hover:bg-base-300">
      dkmaskdma dkamskdmakm daskm
    </div>
  </div>
</div>
