<div class="flex justify-center">
  <div class="card rounded bg-primary p-4 w-[44rem] gap-4">
    <zg-notification>
      <ng-container *ngIf="service.game.isCaptain">
        Bringe die Hinweise in die richtige Reihenfolge. Beginnend mit
        <span class="font-bold p-1 rounded-lg bg-green-400 text-green-900">grün</span>
        bishin zu
        <span class="font-bold p-1 rounded-lg bg-red-400 text-red-900">rot</span>
      </ng-container>
      <div *ngIf="!service.game.isCaptain" class="flex items-center">
        <span class="grow">Der Captain bringt die Hinweise in die richtige Reihenfolge</span>
        <zg-spinner></zg-spinner>
      </div>
    </zg-notification>

    <table class="table">
      <thead>
        <th>Hinweis</th>
        <th>Von</th>
      </thead>
      <tbody>
        <tr *ngFor="let hint of hints" [ngClass]="{'cursor-pointer hover': service.game.isCaptain}">
          <td>{{hint.text}}</td>
          <td>{{game.players?.get(hint.playerId)}}</td>
        </tr>
      </tbody>
    </table>

    <zg-notification>Angeordnete Hinweise</zg-notification>
    <table class="table">
      <thead>
        <th>Hinweis</th>
        <th>Von</th>
        <th>Geheimzahl</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let orderedHint of game.orderedHints">
          <tr *ngIf="game.hints?.get(orderedHint.hintId) as hint">
            <td>{{hint.text}}</td>
            <td>{{game.players?.get(hint.playerId)}}</td>
            <td>3</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
