:host {
  display: block;
  --topten-light: #077989;
  --topten-dark: #055b66;
  --p: 187 90.3% 28.2%;
  --s: 187 95% 40%;
  --sf: var(--s);

  .bg-light {
    background-color: var(--topten-light);
  }

  .bg-dark {
    background-color: var(--topten-dark);
  }
}