<button class="btn" style="position: absolute; top: 0; left: 0;" (click)="game.foo()">Foo</button>

<div *ngIf="cantJoinMessage" class="flex justify-center items-center h-full">
  <zg-notification class="p-4 card glass">
    <span class="p-4"><b>{{ cantJoinMessage }}</b></span>
  </zg-notification>
</div>

<ng-container *ngIf="!cantJoinMessage" [ngSwitch]="game.step">
  <zg-topten-stats *ngIf="game.step !== 'lobby'" class="mb-4"></zg-topten-stats>
    
  <!-- <div class="flex justify-center" [ngSwitch]="game.step" *ngIf="game.step"> -->
    <zg-topten-lobby *ngSwitchCase="'lobby'" @inOut></zg-topten-lobby>
    
    <div class="flex justify-center" *ngSwitchCase="'choosecaptain'" @inOut>
      <zg-topten-card>
        <zg-notification>Wer will Captain für diese Runde sein?</zg-notification>
        <button class="btn btn-secondary" (click)="game.becomeCaptain()">Ich will!</button>
      </zg-topten-card>
    </div>
  
    <zg-topten-choosetext *ngSwitchCase="'choosetext'" @inOut></zg-topten-choosetext>
  
    <zg-topten-giveanswer *ngSwitchCase="'givehints'" @inOut></zg-topten-giveanswer>
  
    <zg-topten-orderhints *ngSwitchCase="'orderhints'" @inOut></zg-topten-orderhints>

  <!-- </div> -->
</ng-container>

