<div class="flex items-center justify-center h-full">

  <div class="grow max-w-[44rem]">

    <zg-card [glass]="true">
      <div class="form-control">
        <label class="label">Name</label>
        <input type="text" placeholder="Nickname" class="input input-accent">
      </div>
  
      <div class="form-control">
        <label class="label">Passwort</label>
        <input type="password" placeholder="Passwort" class="input input-accent">
      </div>
  
      <div class="border-l-4 border-blue-600 bg-blue-200 text-blue-600 p-2 mt-4">
        <span>Diese Seite ist privat. Ein Zugang ist nur möglich, wenn Ihnen das Passwort bekannt ist.</span>
      </div>
  
      <button class="btn btn-primary mt-4" (click)="login()">Login</button>
    </zg-card>

    <!-- <div class="overflow-hidden">
      <zg-onion-svg class="mt-[-620px]"></zg-onion-svg>
    </div> -->

  </div>
</div>