<!-- <div>hallo welt</div> -->
<div class="flex items-center justify-center h-full">
  <zg-card class="grow max-w-[44rem]">
    <div class="form-control">
      <label class="label">Name</label>
      <input type="text" placeholder="Nickname" class="input input-accent">
    </div>

    <div class="form-control">
      <label class="label">Passwort</label>
      <input type="password" placeholder="Passwort" class="input input-accent">
    </div>

    <div class="border-l-4 border-blue-600 bg-blue-200 text-blue-600 p-2 mt-4">
      <span>Diese Seite ist privat. Ein Zugang ist nur möglich, wenn Ihnen das Passwort bekannt ist.</span>
    </div>

    <button class="btn btn-primary mt-4">Login</button>
  </zg-card>
</div>
<!-- <div class="card hover:bg-sky-700">
  ist das jetzt eine Karte?
</div>

<label>
  <input type="checkbox" checked="checked" />
  <span>Yellow</span>
</label>

<button class="btn">Hello daisyUIx</button>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div> -->


