<div class="card">
  <zg-notification>
    <span class="mr-4">Warte auf Mitspieler (mindestens 4 und maximal 9)</span>
    <zg-spinner></zg-spinner>
  </zg-notification>

  <ng-container *ngIf="game.players | keyvalue : dontSort as players">
    <div class="flex flex-wrap gap-2 my-3">
      <span *ngFor="let player of players" class="py-2 px-5 bg-cyan-500 text-white font-semibold rounded-full">
        <fa-icon icon="user" class="mr-2"></fa-icon>
        <span>{{player.value}}</span>
      </span>
    </div>
  
    <button *ngIf="game.joined" [disabled]="players.length < 4" (click)="game.startGame()">
      Start!
    </button>
  </ng-container>

  <ng-container *ngIf="!game.joined">
    <input type="text" [formControl]="name" maxlength="20" placeholder="Name" class="p-2 border-2 rounded-md focus:outline-cyan-500">
    <button [disabled]="!name.valid" (click)="game.join(name.value!)" class="ml-3">Beitreten</button>
  </ng-container>

</div>