<zg-topten-card>
  <zg-notification>
    <span class="mr-4">Warte auf Mitspieler (mindestens 4 und maximal 9)</span>
    <zg-spinner></zg-spinner>
  </zg-notification>

  <ng-container *ngIf="game.players | keyvalue : dontSort as players">
    <table *ngIf="players.length" class="table table-zebra">
      <thead>
        <th>Name</th>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td class="whitespace-normal text-ellipsis overflow-hidden">{{player.value}}</td>
        </tr>
      </tbody>
    </table>
  
    <button *ngIf="game.joined" class="btn btn-secondary" [disabled]="players.length < 4" (click)="game.startGame()">
      Start!
    </button>
  </ng-container>

  <ng-container *ngIf="!game.joined">
    <input type="text" [formControl]="name" maxlength="20" placeholder="Name" class="input min-w-[24rem]">
    <button class="btn btn-secondary" [disabled]="!name.valid" (click)="game.join(name.value!)">Beitreten</button>
  </ng-container>

</zg-topten-card>